@model Guid
@{
    ViewData["Title"] = "Enter Password";
}

<h2>Enter password to view message</h2>

<form method="post">
    <input type="hidden" name="id" value="@Model" />
    <input type="password" name="password" required />
    <button type="submit">Open message</button>
</form>