@{
    ViewData["Title"] = "Copy Link";
}

<h2>Message created</h2>

<p>Copy this link and send it to the recipient:</p>

<input type="text" value="@ViewBag.Link" readonly style="width: 400px;" />

<br /><br />
<a href="/">Back to Home</a>